<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>The First Higher Technical University in Russia</title>

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
</head>
<body class="home">

	<div class="jumbotron">
		<!-- <img src="/img/bg_header.jpg" alt="" class="jumbotron_bg jumbotron_bg--desktop">
		<img src="/img/mobile/01.png" alt="" class="jumbotron_bg jumbotron_bg--mobile"> -->
		<%= require('html-loader!./modules/header/header-home.html') %>
		<div class="jumbotron__slider owl-carousel">

			<div class="jumbotron__slider__item">
				<img class="jumbotron__slider__image" src="/img/bitmap@3x.jpg" alt="">
				<div class="container">
					<div class="col-12">
						<div class="jumbotron__content">
							<h1 class="jumbotron__text title--bold"><span>Feel the spirit</span>of Russian Education</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="jumbotron__slider__item">
				<img class="jumbotron__slider__image" src="/img/bitmap@3x.jpg" alt="">
				<div class="container">
					<div class="col-12">
						<div class="jumbotron__content">
							<h1 class="jumbotron__text title--bold"><span>Feel the spirit</span>of Russian Education</h1>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<%= require('html-loader!./modules/content/content.html') %>
	
	<%= require('html-loader!./modules/footer/footer.html') %>

	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<iframe  src="https://www.youtube-nocookie.com/embed/f_igRXOMu8U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
	</div>

</body>
</html>
