.jumbotron
	width: 100%
	min-height: 692px
	//background-image: url(../img/bg_header.png)
	background-repeat: no-repeat
	background-position: 100% 75%
	position: relative
	padding: 0
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		z-index: 0
		background: linear-gradient(90deg,#113060,#113060 1%,#113060 0,#113060 21%,#113060 31%,rgba(17,48,96,.87) 41%,rgba(17,48,96,.54) 55%,rgba(17,48,96,0) 80%,rgba(17,48,96,0))	

.jumbotron_bg
	position: absolute
	width: 100%
	height: 100%

.jumbotron__slider
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

.jumbotron__slider__item
	position: relative
	height: 692px
	width: 100%
	left: 0
	top: 0
	background-size: contain
	background-repeat: no-repeat
	background-position: 100% top

.jumbotron__slider.owl-carousel
	.jumbotron__slider__image
		display: block
		width: 60%
		height: 692px
		position: absolute
		right: 0
		top: 0

.jumbotron__content
	position: relative
	z-index: 11
	width: 100%
	display: flex
	align-items: flex-start
	height: 692px
	flex-wrap: wrap
	flex-direction: column
	justify-content: center


.jumbotron__text
	font-family: GothamPro
	font-size: 70px
	font-weight: bold
	color: $white
	text-transform: uppercase
	width: 70%
	padding-left: 250px
	margin-bottom: 55px
	padding-top: 20%
	span
		font-size: 36px
		font-weight: 300
		display: block
		margin-bottom: 10px	

.jumbotron__video
	text-transform: uppercase
	font-size: 14px
	font-weight: bold
	color: $white
	display: flex
	align-items: center
	width: 288px
	height: 89px
	background-image: url(../img/video-bg.jpg)
	background-size: cover
	padding-left: 55px
	svg
		margin-right: 10px
	&:hover
		cursor: pointer

.modal-dialog
	max-width: 900px
.modal-content
	min-height: 600px
	position: relative
	iframe
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%


.promoTitle
	background-size: cover
	background-position: center
	min-height: 300px
	display: flex
	align-items: center
	justify-content: center
	text-transform: uppercase

.promoTitle__name
	color: $white
	text-align: center
	font-size: 70px
	font-weight: bold


.breadcrumbs
	padding-top: 30px
	padding-bottom: 25px
	li
		display: inline-block
		margin-right: 10px
		position: relative
		&:last-child
			&:after
				display: none
		&:after
			content: "/"
			font-weight: bold
			position: absolute
			right: -11px
		a
			font-size: 14px
			font-weight: bold
		&:last-child
			a
				font-weight: 400
	

.asideMenu
	background-color: $gray
	a
		font-size: 16px
	> li
		> a
			font-weight: bold
			padding: 14px 25px 15px 25px
			display: block
			width: 100%
	li
		&.active
			> a
				color: $white
				background-color: $light-navy	
		ul
			padding-top: 10px
			display: none
			li
				&.active
					a
						color: #fff
						background-color: $light-navy
			a
				font-size: 16px
				display: block
				padding: 10px 25px
				padding-left: 40px
				font-weight: 300
				line-height: 1.3	

.features
	background-color: $white
	padding-top: 50px
.features__item
	display: flex
	position: relative
	padding-bottom: 40px
	&.after--none
		&:after
			display: none
	&:after
		content: ""
		position: absolute
		right: 0px
		top: 35%
		transform: translateY(-50%)
		width: 2px
		height: 80%
		background-color: #dae0e9	
.features__icon
	display: block
	width: 60px
	height: 60px
	min-width: 60px
	overflow: hidden
	border-radius: 50%
	margin-right: 15px
	background-size: cover
	background-position: 50% 50%
	img
		max-width: 100%
		height: 100%


.features--mobile
	display: none

.features__title
	margin-bottom: 15px
.features__content
	padding-right: 4%
.features__text
	padding-right: 10%

.features__grid
	display: flex
	position: relative
	.features__item
		width: 25%
		padding-left: 2%	
		&:first-child
			padding-left: 0	
		&:nth-child(2)
			width: 22%						

.features__item.item--selected
	min-width: 330px
	background-color: $sand
	position: absolute
	min-height: 293px
	right: 0
	bottom: 0
	background-image: url(../img/bitmap.png)
	background-repeat: no-repeat
	background-position: 	185% 100%
	z-index: 11
	.name,.features__title
		font-size: 14px
		font-weight: bold
		line-height: 1.57
		color: $light-navy
	.features__title
		text-transform: uppercase
	.features__content
		padding-top: 40px
	.features__text
		padding-right: 130px
		margin-bottom: 15px										



//************************************  STUDY SECTION START  *************************************************//

.study
	color: $white
	a
		color: $white

.study__lineament
.study__lineament__item
	margin-bottom: 30px
	&:last-child
		&:after
			display: none
	padding-bottom: 20px
	position: relative
	&:after
		content: ""
		display: block
		width: 185px
		height: 1px
		background-color: #dae0e9
		opacity: 0.35
		position: absolute
		bottom: 0
		left: 0	
	.procent
		font-size: 70px
		font-weight: bold
	.text
		padding-right: 30%	

.study__lineament__item
.study__content__item
	&:first-child
		font-size: 18px
		p
			margin-bottom: 20px

.study__title
	margin-bottom: 50px

.study__content__item
	.content__item__img
		margin-bottom: 30px

//************************************  STUDY SECTION END  *************************************************//




//************************************ PROGRAMS SECTION START  *************************************************//


.slider__item
	display: inline-block
	min-width: 300px
	height: 180px
	background-size: cover
	padding-top: 30px
	padding-left: 30px
	color: #fff
	&:hover
		span
			color: $white
	.title
		font-size: 16px
		font-weight: bold
		line-height: 1.67
		color: $white
	.faculty
		font-size: 16px
		font-weight: bold
		line-height: 1.67
		margin-bottom: 5px
		color: $sand	
	span
		display: block

.slider		
	.owl-nav
		position: absolute
		left: -14%
		top: 0
		button
			display: block
			width: 104px
			height: 90px
			border: solid 1px #dae0e9 !important
			color: $light-navy
			&:hover
				cursor: pointer
				span
					color: $sand
			&:focus
				outline: none		
			span
				font-size: 40px
				width: 20px
				height: 25px
				line-height: 20px
		&.owl-next
			border-top: none !important		
.owl-prev
	span
		display: inline-block
		transform: rotate(90deg)
.owl-next
	border-top: none !important
	span
		display: inline-block
		transform: rotate(90deg)					


.slider
	margin-top: 45px
	position: relative
	.owl-stage-outer
		//margin-left: 150px

.slider--wrap
	width: 1050px

//************************************ PROGRAMS SECTION END  *************************************************//

.museum
	background-size: cover
	background-position: bottom center

.museum__title
	margin-bottom: 30px
.museum__text
	color: $white
	font-size: 18px
	line-height: 1.67
	margin-bottom: 30px	



//************************************ NEWS:  SECTION START  *************************************************//

.news-single-article
	.mainContent__title
		font-size: 36px
		line-height: 1.17
		margin-bottom: 30px
		margin-top: 15px
	.mainContent__title__descr	
		font-size: 18px
		line-height: 1.67
		color: #2f3642
		margin-bottom: 40px
	.news__item__title
		margin-bottom: 15px
	p
		margin-bottom: 15px

.news-table
	border: solid 1px #dae0e9
	width: 100%
	display: flex
	margin: 50px 0
	.news-table__item
		display: flex
		flex-wrap: wrap
		border-left: 1px solid #dae0e9
		&:first-child
			border-left: none
		div
			width: 100%
			align-items: center
			justify-content: center
	.news-table__title
		padding: 15px 20px
		background-color: $light-navy
		color: #fff
	.news-table__content
		padding: 15px 20px
		&:nth-child(odd)
			background-color: rgba(218,224,233, 0.4)
			
.news__item
	a
		display: inline-block
	.title--hot
		margin-bottom: 13px
	.news__item__title
		margin-bottom: 15px
		display: inline-block
	p
		margin-bottom: 18px

.blockquote				
	border: solid 1px #dae0e9
	padding: 25px 20px
	display: flex
	margin: 30px 0
	color: #2f3642
	font-size: 18px
	line-height: 1.67
	a
		text-transform: uppercase
		color: #113060
		font-size: 14px
		font-weight: bold
	.text
		margin-bottom: 12px
	.blockquote-image
		min-width: 142px
		margin-right: 45px
		width: 142px
		height: 142px
		background-color: #f0f3f7
		border-radius: 50%
		background-size: cover
		background-position: -10% 10px
		background-repeat: no-repeat
		position: relative
		&:before
			content: ""
			position: absolute
			right: -20px
			top: 0
			width: 50px
			height: 40px
			background-image: url(../img/quote.svg)
			background-repeat: no-repeat	

.article__image
	display: inline-block
	margin-bottom: 50px


.article-slider
	margin-bottom: 125px
	.owl-nav
		position: absolute
		left: 38px
		top: 260px
		transform: rotate(90deg)
		button
			width: 70px
			height: 73px
	.slider__item
		min-width: 280px
		height: 270px
		padding: 0

.article-single__read--more
	margin-bottom: 50px

.news-single__aside
	.aside-title
		text-transform: uppercase
		color: #113060
		margin-bottom: 20px
	.news__item__image
		margin-bottom: 10px
	.news__item
		margin-bottom: 25px				

.article-count__list
	counter-reset: count
	display: flex
	flex-wrap: wrap
	padding: 20px 0
	&.not-count
		li
			padding-left: 26px
			&:before
				content: ""
				background-color: #dcc865
				width: 8px
				height: 8px
				top: 7px	
	li
		width: 50%
		padding-left: 30px			
		counter-increment: count
		position: relative
		margin-bottom: 10px
		padding-right: 15px		
		&:before
			content: counter(count)
			position: absolute
			left: 0
			top: 2px
			font-size: 30px
			font-weight: bold
			color: #dcc865
			line-height: 0.93	

.news__menu
	display: flex
	width: 450px
	justify-content: space-between
	min-height: 45px
	border-bottom: solid 1px #dae0e9
	li
		display: inline-block
		position: relative
		min-height: 45px
		&.active
			&:before
				content: ""
				display: block
				position: absolute
				bottom: -4px
				left: 0
				width: 100%
				height: 8px
				background-color: $sand	
			a
				font-weight: bold
		a
			display: block
			text-transform: uppercase
			font-size: 16px
			font-weight: 300
			color: $light-navy

[data-content]
	display: none

[data-content="1"]
	display: flex

.news-top-line
	margin-bottom: 30px

.news__item__image
	display: block
	margin-bottom: 20px
	img
		max-width: 100%
		width: 100%

.news__list
.list__item__image
	display: block
	width: 80px
	min-width: 80px
	height: 80px
	margin-right: 23px
	img
		max-width: 100%

.mainContent
	.news__item__content
		margin-bottom: 45px

.news__list__item
	display: flex
	margin-bottom: 26px
	.date
		display: block
		margin-bottom: 10px

.list__item__content
	a
		display: block

.more-btn-news
	text-align: center
	margin-bottom: 45px
	justify-content: center
	display: flex


.press__title
	margin-bottom: 26px

.press
	padding: 0

.press__content
	background-color: $light-navy
	padding: 55px 0
	position: relative
	&:before
		content: ""
		display: block
		position: absolute
		left: -100%
		top: 0	
		width: 200%
		height: 100%
		background-color: $light-navy
		z-index: -1	
	a
		color: $white


.press__item__title
	font-size: 18px
	font-weight: bold
	line-height: 1.67
	letter-spacing: normal
	color: $white
	margin-bottom: 13px

.tw
	padding: 55px 0
	background-color: $light-navy
	color: $white
	position: relative
	.press__item
		width: 100%
		.btn
			min-width: 268px
			svg
				display: inline-block
				margin-right: 15px
			&:hover
				svg
					path
						fill: $light-navy
	&:before
		content: ""
		display: block
		position: absolute
		right: -100%
		top: 0	
		width: 200%
		height: 100%
		background-color: $light-navy
		z-index: -1	
	a
		color: $white

.tw__title
	padding-left: 45px
	display: flex
	align-items: center
	font-size: 30px
	font-weight: bold
	margin-bottom: 50px
	img
		display: inline-block
		margin-right: 40px
	span
	font-weight: bold
	text-transform: uppercase	

.press__grid
	flex-wrap: wrap
	align-items: baseline
.press__item
	width: 50%
	padding-right: 10%
	margin-bottom: 40px

.tw__item
	margin-bottom: 40px

.tw__content
	padding-left: 0
	.tw__item__title
		font-size: 18px
		font-weight: bold
		line-height: 1.67
		margin-bottom: 12px							


/************************************  Content ***************************/

.mainContent
.educationContent


.mainContent__title
	font-size: 36px
	text-transform: uppercase
	color: $light-navy
	font-weight: bold
	margin-bottom: 22px
.mainContent__description
	font-size: 18px
	margin-bottom: 35px

.educationContent__grid
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 40px
	> div
		padding: 0
		// margin-right: 20px
		margin-bottom: 20px
		max-width: 49%
		background-size: 107%
		background-repeat: no-repeat
		&:nth-child(even)
			margin-right: 0
.educationContent__item
	min-height: 210px
	padding: 40px
	position: relative
	transition: all 0.3s ease
	display: block
	height: 100%
	&:before
		content: ""
		display: block
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba(0,0,0, 0.3)
		z-index: 0
	&:hover
		overflow: hidden
		.edu--bg
			//transform: translateX(0%)
			width: 100%
		.educationContent__item__title
			opacity: 1
			position: relative
			z-index: 10
		.educationContent__item__level
			color: $light-navy
			position: relative
			z-index: 10		
.edu--bg
	width: 10px
	height: 100%
	position: absolute
	left: 0
	top: 0
	background: $sand
	transition: all 0.3s ease
.educationContent__item__title
	margin-bottom: 60px
	opacity: 0
	text-transform: uppercase
	font-weight: bold
	font-size: 16px
	color: $white
.educationContent__item__level
	color: $white
	text-transform: uppercase
	font-weight: bold
	font-size: 16px
	position: relative
	z-index: 1		


.timeLine
	padding-top: 30px

.timeLine--circle
	width: 22px
	height: 22px
	background-color: #113060
	border: solid 4px #ffffff

.timeLine__item
	display: flex
	&:last-child
		.timeLine__date
			&:before
				display: none

.timeLine__date
	min-width: 255px
	margin-right: 55px
	text-align: right
	padding-bottom: 35px
	position: relative
	&:after
		content: ""
		display: block
		position: absolute
		right: -36px
		top: 4px
		width: 15px
		height: 15px
		background-color: $white
		border: solid 3px #113060
		border-radius: 50%
	&:before
		content: ""
		display: block
		position: absolute
		right: -31px
		top: 23px
		height: 93%
		width: 4px
		background-color: #dae0e9	
	img
		max-width: 100%
	.timeLine__date__text
		margin-bottom: 15px
		color: #2f3642
		font-weight: bold
		font-size: 18px
		line-height: 1.44	

.timeLine__content
	margin-bottom: 50px
	p
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0	



.timeLine__content--bg
	background-size: cover
	background-position:  center
	.timeLine__content__text
		padding: 25px
		color: $white

.map
	height: 548px
	position: relative

.contacts-map 
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 1	


/********************* Contact ****************************/

.contact
	.email
		color: $light-navy
		text-transform: uppercase
		font-size: 16px
		font-weight: bold	
	.mainContent__title	
		margin-bottom: 40px
.contact-item
	margin-bottom: 30px

.contact-item__title
	font-size: 18px
	font-weight: bold
	line-height: 1.44
	margin-bottom: 14px
	color: $charcoal-grey

.contact-item__title.requisites
	color: $light-navy
	text-transform: uppercase
	font-size: 16px	

.pdf-button
	width: 288px
	height: 106px
	background-color: $sand
	color: $white
	display: flex
	align-items: center
	padding-left: 40px
	&:hover
		color: $light-navy
		span
			color: $light-navy
			border-color: $light-navy
	span
		width: 50px
		height: 50px
		display: inline-block
		border: 1px solid $white
		font-size: 18px
		font-weight: bold
		text-align: center
		line-height: 50px
		margin-right: 20px

.map
	margin-bottom: 40px

.form-title
	text-align: center		

#main-form
	width: 100%
	max-width: 1015px
	margin: 0 auto
	margin-bottom: 40px
	input,select
		display: flex
		align-items: center
		min-width: 320px
		height: 54px
		border: solid 1px #113060
		padding-left: 20px
		margin-bottom: 30px
		box-sizing: border-box
	select
		background-color: #f0f3f7
		position: relative
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		background-image: url(../img/turn-triangle.svg)
		background-repeat: no-repeat
		background-position: 93% 50%
		background-size: 10px
		&:before
			content: "▼"
			display: block
			padding: 0 8px
			font-size: 12px
			position: absolute
			right: 8px
			top: 4px
			z-index: 1
			text-align: center
			width: 10%
			height: 100%
			pointer-events: none
			box-sizing: border-box
			background-color: $light-navy	
	textarea
		display: inline-block
		width: 100%
		min-height: 169px
		padding-left: 20px
		padding-top: 15px
		border: solid 1px #113060
		margin-bottom: 40px
		resize: none
	button.btn.btn--dark
		background-color: #113060
		color: #fff
	label
		display: flex
		flex-direction: row-reverse
		width: 77%
		align-items: center
		justify-content: flex-end
		margin-left: 25px
		a
			font-weight: bold

.subscribe--item
	background-color: #113060
	color: #fff
	text-align: center
	padding-top: 50px
	padding-bottom: 45px
	.subscribe__title
		font-size: 18px
		font-weight: bold
		margin: 10px 0
	.subscribe__text
		padding: 0 25px
		margin-bottom: 20px	
.subscribe__form
	background-color: #113060
	color: #fff
	display: flex
	flex-wrap: wrap
	justify-content: center
	input,select
		display: flex
		align-items: center
		min-width: 320px
		height: 54px
		border: solid 1px #113060
		padding-left: 20px
		margin-bottom: 20px
		box-sizing: border-box
		text-align: center
		padding: 0
		justify-content: center
		color: #113060
	.submit
		font-size: 16px
		font-weight: bold
		text-transform: uppercase
		background-color: transparent
		border: 1px solid #fff
		text-align: center
		color: #fff

select::-ms-expand
	display: none

.form-row
	display: flex
	justify-content: space-between
	margin: 0

.form-row.button-row
	display: flex
	justify-content: flex-start
	align-items: center


.label
	display: block
	position: relative
	padding-left: 35px
	margin-bottom: 12px
	cursor: pointer
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	input
		position: absolute
		opacity: 0
		cursor: pointer

.checkmark
	position: absolute
	top: 0
	left: 0
	height: 20px
	width: 20px
	background-color: transparent
	border: 1px solid $light-navy


.label
	&:hover input ~ .checkmark
		background-color: $white
	input:checked ~ .checkmark
		background-color: $light-navy


.checkmark:after
	content: ""
	position: absolute
	display: none


.label
	input:checked ~ .checkmark:after
		display: block
	.checkmark:after
		left: 6px
		top: 3px
		width: 5px
		height: 10px
		border: solid white
		border-width: 0 3px 3px 0
		-webkit-transform: rotate(45deg)
		-ms-transform: rotate(45deg)
		transform: rotate(45deg)



/* ========================== university ============================ */

.leadershipContent__grid
	display: flex
	flex-wrap: wrap

.leadershipContent
	.title--small
		margin-bottom: 20px
	p
		margin-bottom: 20px	

.leadership__item
	border: solid 1px #dae0e9
	color: $charcoal-grey
	display: block
	overflow: hidden
	margin-bottom: 23px
	&:hover
		border: solid 1px $sand
		.leadership__content
			background-color: $sand
		.leadership__position
			color: #fff
		.leadership__photo
			background-color: transparent		

.leadership__photo
	min-height: 255px
	width: 100%
	background-size: 100%
	background-position: 50% 100%
	background-repeat: no-repeat
	background-color: $gray	

.leadership__content
	padding: 30px 22px
	background-color: #fff

.leadership__position
	color: $sand
	margin-bottom: 7px
	font-weight: bold
	text-transform: uppercase
.leadership__name
	font-weight: bold
	font-size: 18px
	line-height: 1.67
	color: $light-navy
	margin-bottom: 7px
.leadership__info
	font-size: 14px
	color: $charcoal-grey
	margin-bottom: 15px

.leadership__contact
	.leadership__contact__item
		display: flex
		span
			font-weight: bold
			font-size: 14px
			color: $light-navy
			&:first-child
				min-width: 83px
				display: block
				font-size: 14px
				color: $charcoal-grey
				font-weight: 400		

.leader__sinlge
	.leadership__position
		font-size: 16px
.leader__card
	display: flex
	margin-bottom: 50px
.leader__card__image
	min-width: 240px
	min-height: 218px	
	background-color: $gray
	margin-right: 20px
	background-size: contain
	background-position: 50% 100%
	background-repeat: no-repeat
	img
		max-width: 100%
.leader__card__content
	.leadership__info
		color: $light-navy
		font-weight: bold
		font-size: 18px
		margin-bottom: 8px
	.leadership__text
		font-size: 18px
		line-height: 1.67
		margin-bottom: 10px
		color: $charcoal-grey
	.leadership__contact__item
		margin-bottom: 3px	
	.leadership__contact
		a
			font-weight: bold				

/* ========================== fag ============================ */

.promoSearch
	width: 100%
	padding: 0 15px
	display: flex
	flex-wrap: wrap
	justify-content: center
	font-family: 'GothamPro', sans-serif
	.promoTitle__name
		width: 100%
		line-height: 70px
		margin-bottom: 22px
	&__search
		max-width: 912px
		width: 100%
		text-align: center
		margin-bottom: 17px
		position: relative
		input
			border: none
			box-sizing: border-box
			max-width: 912px
			width: 100%
			border-radius: 25px
			background-color: #ffffff
			padding: 14px 72px 13px 32px
			font-size: 14px
			line-height: 24px
	&__btn
		position: absolute
		background: transparent
		border: none
		right: 15px
		top: 5px
		padding: 0
		outline: none !important
		img
			width: 40px
			height: 40px
	&__info
		width: 100%
		text-align: center
		color: $white
		text-transform: none
		a
			color: $sand
			font-weight: 600
.faq__title
	font-family: GothamPro, sans-serif
	font-size: 36px
	font-weight: 600
	font-style: normal
	font-stretch: normal
	line-height: 1.17
	letter-spacing: normal
	color: $light-navy
	margin-bottom: 15px
.faq__item
	font-family: GothamPro, sans-serif
	font-style: normal
	font-stretch: normal
	letter-spacing: normal
	border: 1px solid $bluey-grey-2
	margin-bottom: 20px
	&__title
		font-size: 18px
		font-weight: bold
		line-height: 1.56
		color: $light-navy
		padding: 21px 88px 21px 30px
		position: relative
		&:before
			position: absolute
			content: ''
			right: 30px
			top: 50%
			transform: translateY(-50%)
			width: 28px
			height: 28px
			background: url("../img/faq-img.svg")
	&__description
		display: none
		padding: 15px 35px
		font-size: 14px
		line-height: 1.71
		color: $charcoal-grey
.faq__item__title
	&:hover
		cursor: pointer		
.faq__item.active
	border-color: $sand
	.faq__item__title
		background: $sand
		&:hover
			cursor: pointer
		&:before
			width: 39px
			height: 39px
			right: 25px
			background: url("../img/faq-active.svg")
	.faq__item__description
		display: block
.ask
	background: $light-navy
	padding: 35px 35px 35px 54px
	color: $white
	margin-bottom: 75px
	p
		font-size: 18px
		font-weight: bold
		line-height: 1.56
	span
		font-size: 14px
		font-weight: normal
		line-height: 1.71
	.btn--ask
		min-width: 230px
		height: 54px
		display: flex
		font-weight: bold
		align-items: center
		justify-content: center
		padding: 10px
		text-align: center
		font-size: 16px
		color: $white
		border: 1px solid $white
		text-transform: uppercase
.help_block
	display: flex
	font-family: GothamPro, sans-serif
	font-size: 14px
	font-weight: bold
	font-style: normal
	font-stretch: normal
	line-height: 1.71
	letter-spacing: normal
	color: $charcoal-grey
	margin-top: 25px
.triger
	display: flex
	margin-left: 20px
.defalt[type="radio"]
	&:checked + label:after
		z-index: 999
.yes[type="radio"]
	&:checked + label:after
		top: 2px
		left: 30px
	&:checked + label, &:not(:checked) + label
		padding-left: 0
		padding-right: 25px
	&:checked + label:before, &:not(:checked) + label:before
		width: 31px
		border-radius: 8px 0 0 8px
		border-right: 1px solid transparent
		z-index: 1
		left: 30px
		top: 5px
.no[type="radio"]
	&:checked + label:after
		top: 2px
	&:checked + label, &:not(:checked) + label
		padding-left: 30px
	&:checked + label:before, &:not(:checked) + label:before
		width: 22px
		border-radius: 0 8px 8px 0
		border-left: 1px solid transparent
		z-index: 1
		top: 5px
[type="radio"]
	&:checked, &:not(:checked)
		position: absolute
		left: -9999px
	&:checked + label, &:not(:checked) + label
		position: relative
		padding-left: 15px
		cursor: pointer
		display: inline-block
	&:checked + label:before, &:not(:checked) + label:before
		content: ''
		position: absolute
		left: 0
		top: -11px
		width: 1px
		height: 15px
		border: solid 1px $bluey-grey-2
		border-radius: 8px
		background: #fff
	&:checked + label:after
		content: ''
		width: 21px
		height: 21px
		background: $bluey-grey-2
		position: absolute
		top: -14px
		left: 1px
		border-radius: 50%
		-webkit-transition: all 0.3s ease
		transition: all 0.2s ease
		z-index: 100

/*=======================  Search document content page  ===========================*/
.document__grid
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-top: 30px
	margin-bottom: 30px
	.document__item
		position: relative
		border: 1px solid $bluey-grey-2
		padding: 15px 20px
		font-size: 18px
		font-weight: bold
		color: #113060
		padding-right: 40px
		line-height: 1.56
		margin-bottom: 20px
		width: 49%
		display: flex
		align-items: center
		a
			font-weight: bold
			text-transform: uppercase
			display: inline-block
			margin-left: 4px
			color: $sand
			&:hover
				text-decoration: underline
		svg
			position: absolute
			right: 20px
			top: 50%
			transform: translateY(-50%)	
		&:hover
			border: 1px solid $sand
			svg
				g
					fill: #dcc865
			.document__infowindow
				opacity: 1
				z-index: 10
				transform: translateY(0%)		
		.document__infowindow
			width: 100%
			padding: 15px 20px
			padding-bottom: 25px
			font-weight: 400
			font-size: 12px
			color: #113060
			line-height: 1.5
			box-shadow: 0 5px 25px 0 rgba(0,0,0, 0.2)
			opacity: 0
			position: absolute
			top: -80%
			left: 0
			background-color: #fff
			z-index: -5
			transform: translateY(-100%)
			transition: all 0.3s ease
			&:before
				content: ""
				width: 15px
				height: 20px
				background-color: transparent
				position: absolute
				bottom: -25px
				left: 50%
				transform: translateX(-50%)
				z-index: 11
				border: 15px solid transparent
				border-top: 15px solid #fff

.educationContent__list__grid
.educationContent__list__item
	position: relative
	border: 1px solid $bluey-grey-2
	padding: 20px 23px
	font-weight: bold
	color: #113060
	line-height: 1.5
	margin-bottom: 20px
	width: 49%
	display: flex
	align-items: center
	background-color: #fff
	flex-wrap: wrap
	&:before
		content: ""
		display: block
		width: 8px
		height: 100%
		background-color: $sand
		position: absolute
		right: 0
		top: 0	
	&:hover
		background-color: $sand
		&:before
			background-color: #113060
		.data
			color: #fff
	.data
		font-size: 16px
		color: $sand
		margin-bottom: 8px
		width: 100%
	.faculty__name
		color: #113060
		width: 100%	

/*==================== gallery =======================*/	

.gallery
	display: none

.galleryContent__main
	margin-bottom: 20px
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.galleryContent__main__item
	width: 100%
	min-height: 370px
	max-height: 370px
	text-align: right
	background-size: contain
	background-position: 100% 0
	position: relative
	display: flex
	align-items: center
	padding-left: 60px
	margin-bottom: 22px
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		background: linear-gradient(90deg,#113060 0,#113060 1%,#113060 0%,#113060 21%,#113060 31%,rgba(17,48,96,.87) 41%,rgba(17,48,96,.54) 55%,rgba(17,48,96,-0.86) 80%,rgba(17,48,96,0))
		z-index: 1	
	.main__item__content
		position: relative
		z-index: 10
		color: #fff
		width: 38%
		text-align: left
		.galleryContent__text
			font-weight: bold
			font-size: 18px
			color: #fff
			line-height: 1.56
			margin-bottom: 8px
		.galleryContent__data
			color: #dcc865
			font-weight: bold
			font-size: 14px
			margin-bottom: 25px

.count__item
	font-size: 14px
	font-weight: bold
	display: flex
	align-items: center
	margin-bottom: 15px
	div
		margin-right: 5px
		text-align: center
	.foto
		background-image: url(../img/count-foto.svg)
		background-position: 50% 30%
		width: 34px
		height: 40px
		background-repeat: no-repeat
		display: flex
		align-items: center
		justify-content: center
	.video
		width: 50px
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		background-image: url(../img/video.svg)
		background-position: 90% 50%
		background-repeat: no-repeat

.galleryContent__item
	display: block
	width: 31.5%
	border: solid 1px #dae0e9
	margin-bottom: 20px
	&:hover
		.galleryContent__item__image
			background-color: #113060
			img
				filter: grayscale(100%)
				opacity: 0.3
			&:before
				//opacity: 1
			.count__item
				opacity: 1
				z-index: 10	
.galleryContent__item__image
	position: relative
	min-height: 180px
	height: 200px
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		z-index: 1
		background-color: rgba(17, 48, 96, 0.6)
		opacity: 0
	.count__item
		position: absolute
		left: 15px
		bottom: 10px
		color: #fff
		opacity: 0
		margin: 0	
	img
		height: 100%
.galleryContent__item__content
	padding: 22px
	padding-bottom: 30px
.galleryContent__item__text						
	background-color: #fff
	color: #113060
	font-size: 14px
	font-weight: bold
	margin-bottom: 50px
.galleryContent__item__data
	color: #dcc865
	font-weight: bold
	font-size: 14px