.siteName
	font-size: 16px
  font-weight: 300
  font-style: normal
  font-stretch: normal
  line-height: 0.75
  letter-spacing: normal
  color: $white

header
	padding-top: 50px

.header__top
	display: flex
	align-items: center
	justify-content: space-between

.siteLinks
	a
		font-size: 16px
		font-weight: normal
		color: $white
		text-transform: uppercase
		display: inline-block
		margin-right: 35px
		&:hover
			text-decoration: underline
		&:last-child
			margin-right: 0	

.functionPanel
	li
		display: inline-block
		margin-right: 22px
		&:last-child
			margin-right: 0
		a
			display: block
			width: 40px
			height: 40px
			img
				max-width: 100%  